body { height: 100%; line-height:1.5; margin:0; }
a:visited, a:link { text-decoration: none; color: #333333; }
ul {margin:0; padding: 0;}
li {list-style:none;}

/* Header */
header {width:100%;min-width:100%;height:50px;background-color:#f0f0f0;}
header.login {background-color: #ffc0c0; }
header li { display:inline-block; }
header #menu,header #search,header #cart {position:absolute;	font-size:0; width:25px; height:25px; margin:10px; }
header #menu {top:0;left:0; background-image:url(//maxcdn.icons8.com/iOS7/PNG/25/User_Interface/menu_filled-25.png);}
header #search {top:0;right:60px; background-image:url(//maxcdn.icons8.com/iOS7/PNG/25/Very_Basic/search-25.png);}
header #cart {top:0;right:25px; background-image:url(//maxcdn.icons8.com/iOS7/PNG/25/Ecommerce/shopping_cart-25.png);}
header #title { text-align: center; width:100%;padding-top:10px;}
header #menuList { position:absolute;left:0;top:50px;box-shadow: 0 2px 2px #c0c0c0;text-align:center;width:100%;background-color:#ffffff; }
header #menuList li { display:block;border-top:solid 1px #c0c0c0;padding:10px; }
header:after { clear: both; }

/* Main */
.content { width: 100%; margin: 0 auto; padding: 0; }
#main { margin: 10px 0 0; min-height: auto; }
#main h1 { font-weight: bold; padding: 5px  10px; margin: 0; }

/* Footer */
footer .pagetop { text-align: right; padding: 5px; }
footer #copyright { margin-bottom: 20px; text-align: right; padding: 5px; border-top: 1px solid #E6E6E6; }

/* Store top page */
#mainView img { width: 100%; }

/* Section page */
.section #subSection {
    border-top: 1px solid #eee;
    border-radius: 5px;
    padding: 0;
    margin: 10px 0 30px;
    width: auto;
}

.section #subSection li{
    border-bottom: 1px solid #eee;
    border-top: 0;
    box-sizing: border-box;
	display: inline-block;
    padding-top: 0;
    margin: 0;
    width: 100%;
}

.section #subSection li a {
    display: block;
    font-size: large;
    padding: 20px 0 20px 10px;
    -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f9));
    -webkit-background-size: 10px 13px, auto;
}

/* Item list page */
#itemList ul { padding: 15px; }
#itemList li { display:inline-block; float: left; width:50%; margin-bottom:20px;text-align:center; }
#itemList li img{}

/* Item detail page */
#item #main {padding: 10px; }
#item #itemImage { text-align: center;margin-top:10px; }
#item h1 { text-align: center; }
#item #colorPanel,
#item #sizePanel {margin: 10px 0;}
#item #colorPanel li { display: inline-block; text-align:center; width: 25%; border: solid 1px #303030; padding: 5px; margin: 5px 3px;}
#item #sizePanel li { display: inline-block; text-align:center; width: 25%; border: solid 1px #303030; padding: 5px; margin: 5px 3px;}
#item li.current {border-color: #000000; background-color: #f0f0f0; font-weight: bold; }
#item #cartButton {text-align: center; margin-top: 20px; }
#item #addCart {width:300px; padding:10px 0; border: 3px solid #303030; background-color: #d0d0d0; }

/* Cart */
body#cart {padding: 0 10px; }
body#cart cartItem img {float:left; margin:5px 15px 5px 5px;}
body#cart cartItem:after { clear:both; }
body#cart #payment li { border: gray solid 1px; padding: 0 10px;margin:5px 0; }
body#cart #payment li:hover { background-color:lightgray; }
body#cart #payment li dl { display:none;}
body#cart #payment li dt,body#cart #payment li dd { display:inline-block;}
body#cart #payment dt.dt-button { text-align:center; width:100%; padding-top:10px; }
body#cart #payment #payment-visa,
body#cart #payment #payment-visachekout { padding:10px; }
body#cart #payment h2 { border-top: black solid 3px; padding-top: 5px; }
body#cart #payment h3 { margin-top: 0; }

/* Login */
#login ul#login_list { text-align: center;margin-top:20px; }
#login li input {width:191px;height:auto;margin:5px; }

