{"api":"site", "resource":"/login", "httpMethod":"GET", "statusCode":"200"}
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=1" name="viewport">
    <link href="//s3.amazonaws.com/dokan/public/css/dokan.css" rel="stylesheet" type="text/css">
    <title>Login | Online Store</title>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="//sdk.amazonaws.com/js/aws-sdk-2.1.12.min.js"></script>
    <script src="//s3.amazonaws.com/dokan/public/js/dokan.js"></script>
    <script src="//s3.amazonaws.com/dokan/public/js/dokan_login.js"></script>
</head>
<body id="login" class="store">
	<header>
		<div id="title"><a href="/test/">Onlie Store</a></div>
		<ul>
			<li id="menu">Menu</li>
		    <li id="search">Search</li>
            <li id="cart"><a href="/test/cart/">Cart</a></li>
        </ul>
        <ul id="menuList" style="display: none;">
            <li id="mnLogin"><a href="/test/login/">Login</a></li>
            <li id="mnRegistry"><a href="/test/member/registry/">Create an account</a></li>
            <li id="mnMypage" style="display: none;"><a href="/test/member/">My page</a></li>
            <li id="mnLogout" style="display: none;"><a href="/test/logout/">Logout</a></li>
        </ul>
    </header>

    <div class="content">
    	<div id="main">
            <ul id="login_list">
                <li><input id="login_google" type="image" src="https://developers.google.com/identity/images/btn_google_signin_light_normal_web.png" name="login_type" value="Login by Google account" onClick="login_google();"></li>
                <li><input id="login_facebook" type="image" src="https://scontent.xx.fbcdn.net/hphotos-xaf1/t39.2178-6/851579_209602122530903_1060396115_n.png" name="login_type" value="Login by Facebook account" onClick="login_facebook();"></li>
                <!--
                <li><input id="login_twitter" type="image" src="https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-gray.png" name="login_type" value="Login by Twitter account" onClick="login_twitter();"></li>
                <li><input id="login_instagram" type="button" name="login_type" value="Login by Instagram account" onClick="login_instagram();"></li>
                <li><input id="login_paypal" type="image" src="https://www.paypalobjects.com/webstatic/en_US/developer/docs/lipp/loginwithpaypalbutton.png" name="login_type" value="Login by Paypal account" onClick="login_paypal();"></li>
                <li><input id="login_weibo" type="button" name="login_type" value="Login by Weibo account" onClick="login_weibo();"></li>
                -->
            </ul>
        </div>
        
    </div>
        
	<footer>
    	<p class="pagetop"><a href="#header">Top</a></li>
		<p id="copyright">Copyright yoshidasts.com. Icon by <a href="https://icons8.com/" target="_blank">Icon8</a>.</p>
	</footer>
</body>
</html>