{"api":"site", "resource":"/logout", "httpMethod":"GET", "statusCode":"200"}
<head>
<html>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="//sdk.amazonaws.com/js/aws-sdk-2.1.12.min.js"></script>
    <script>
        var redirect_to;
        if(localStorage.getItem('logout_after')){
            redirect_to = localStorage.getItem('logout_after');
            localStorage.removeItem('logout_after');
        }else{
            redirect_to = '/test/';
        }
        window.location.href = redirect_to;
    </script>
</html>