{"api":"site", "resource":"/section/{section}", "httpMethod":"GET", "statusCode":"200"}
#set($code = $input.params().path.section)
#set($section = $input.path('$')[$code])
<html>
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0, user-scalable=1" name="viewport">
	<title>$section.name | Online Store</title>
	<link rel="stylesheet" href="//s3.amazonaws.com/dokan/public/css/dokan.css">
</head>
<body id="$code" class="store section">

	<header>
		<div id="title">Onlie Store</div>
		<ul>
			<li id="menu">Menu</li>
		    <li id="search">Search</li>
            <li id="cart"><a href="/test/cart/">Cart</a></li>
        </li>
    </header>

    <div class="content">
    	<div id="main">
    		<h1>$section.name</h1>
    		<section id="subSection">
    			<ul>
#foreach($sub in $section.subsections)
    				<li id="$sub.code"><a href="/test/list/$sub.code">$sub.name</a></li>
#end
    			</ul>
    		</section>
        </div>
    </div>

	<footer>
    	<p class="pagetop"><a href="#header">Top</a></li>
		<p id="copyright">Copyright yoshidasts.com. Icon by <a href="https://icons8.com/" target="_blank">Icon8</a>.</p>
	</footer>
</body>
</html>