{"api":"site", "resource":"/item/{sku}", "httpMethod":"GET", "statusCode":"200"}
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0, user-scalable=yes" name="viewport">
        <link href="//s3.amazonaws.com/dokan/public/css/dokan.css" rel="stylesheet" type="text/css">
        <title>$input.path('$.name') | Online Store</title>
    </head>
    <body id="item" class="store">
        <header>
        </header>
        <section id="main">
            <div id="tag">
                <h1>$input.path('$.name')</h1>
                <p id="description">$input.path('$.description')</p>
        		<div class="price">$input.path('$.salesPrice') €</div>
            </div>
        </section>
        <footer>
        </footer>
    </body>
</html>